<div class="ui header">
  Finalize
  <div class="sub header">
    Generate and manage the final observer file.
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="ui green icon button" id="btn-finalize">
      <i class="save icon"></i> Save observer
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="column">
    <div class="ui form">
      <div class="field">
        <label>Observer File:</label>
        <div class="left labeled input">
          <textarea id="observer-area" style="font-family: monospace;"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
