<div class="ui header">
  General Information
  <div class="sub header">
    Configure the observer's general information.
  </div>
</div>

<div class="ui form">
  <div class="field">
    <label>Name</label>
    <div class="left labeled input">
      <input type="text" name="name" placeholder="Observer Name">
    </div>
  </div>
  <div class="field">
    <label>Version</label>
    <div class="left labeled input">
      <input type="text" name="version" placeholder="Version">
    </div>
  </div>
  <div class="field">
    <label>Author</label>
    <div class="left labeled input">
      <input type="text" name="author" placeholder="Author">
    </div>
  </div>
  <div class="field">
    <label>Network</label>
    <div class="ui selection dropdown">
      <input type="hidden" name="network">
      <div class="default text">Network</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="facebook">Facebook</div>
        <div class="item" data-value="googleplus">Google Plus</div>
      </div>
    </div>
  </div>
</div>