<h2 class="ui dividing header">
  <i class="info circle icon"></i>
  <div class="content">
    Finalize
    <div class="sub header">
      Generate and manage the final observer file.
    </div>
  </div>
</h2>

<div class="ui form">
  <div class="field">
    <label>Observer File:</label>
    <div class="left labeled input">
      {{textarea value="asdf"}}
    </div>
  </div>

  <div class="ui left labeled icon button" {{action "onBack"}}>
    <i class="left arrow icon"></i>
    Back
  </div>

  <div class="ui right labeled icon submit positive button" {{action "onExport"}}>
    <i class="download icon"></i>
    Export
  </div>
</div>
